{% extends 'cinema_app/base.html' %}
{% load static %}

{% block title%}
Movie Category
{% endblock %}

{% block content %}
		
		<main class="content">
			<section class="centered">
				<h3>Contact</h3>
				<div class="contact">
					<form id="myForm" action="#" method="POST">
						<label for="name">Name:</label>
						<input type="text" name="name" id="name">

						<label for="email">Email:</label>
						<input type="text" name="email" id="email">

						<label for="message">Message:</label>
						<textarea id="message" name="message"></textarea>

						<input type="submit" name="submit" value="SEND">
					</form>

					<span class="success">Message sent succesfully</span>
					<span class="error">Failed sending message</span>
				</div>
			</div>
		</section>

	</main>

{% endblock %}